<html>
<head>
  <title>Transformers App</title.
</head>
<body>
  <form method="post" action="/add">
  <input type="text" value="add a decepticon" name="decepticon"/>
  <input type="submit" value="add" />
  </form>
</body>
</html>
